.my-component {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}

.selected {
    background-color: #1E88E5 !important;
}

.selected > td {
    color: white !important;
}

.selected > td .mud-input {
    color: white !important;
}
